h1{color:rgb(243, 148, 148);margin: 30px;
    border:solid;
    background-color: crimson;
}

.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: crimson;
}